.blockstyle{
  background-image: linear-gradient(rgba(53, 54, 111, 1),rgba(224, 222, 242, 0.6));
  padding: 17px;
  border-radius: 20px;
  border: 2px solid white;
}
.himani{
  background-image: url("../public/Desktop\ -\ 8.png");
  background-size:100vw 100%;
  background-position:center;
  background-repeat:no-repeat;
}

.transcript{
  background-image: linear-gradient(rgba(19, 12, 61, 1),rgba(92, 114, 131, 1));
  padding: 17px;
  border-radius:30px;
}